tags
test.sh
.luarc.json
nvim

spell/

# You likely want to comment this, since it's recommended to track lazy-lock.json in version control, see https://lazy.folke.io/usage/lockfile
# lazy-lock.json

.DS_Store
